@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --text-color: #ffffff;
  --background-color: #270082;
  --red-btn-color: #ff0000;
  --sub-footer-color: #270082;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

/* navbar container started */
.navbar-container {
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
}
.logo {
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
}

.nav-links {
  display: flex;
  gap: 5rem;
  list-style: none;
  justify-content: start;
  padding: 1rem;
  margin-right: 20px;
}
.nav-links a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 4rem;
  font-family: "Josefin Sans", sans-serif;
}
.menu-bar {
  display: none;
  font-size: 4rem;
  cursor: pointer;
  margin-right: 20px;
}
@media (max-width: 768px) {
  .nav-links {
    display: none;
    background-color: var(--background-color);
  }
  .menu-bar {
    display: block;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 40%;
  }
  .nav-links a {
    font-size: 3rem;
  }
}
@media (max-width: 1280px) {
  html {
    font-size: 40%;
  }
  .nav-links a {
    font-size: 3rem;
  }
}
@media (max-width: 1536px) {
  html {
    font-size: 50%;
  }
  .nav-links a {
    font-size: 3.5rem;
  }
}

/* navbar container ended */

/* main container started */

/* hero section started */

.hero-container {
  position: relative;
  display: flex;
}
.hero-container img {
  width: 100%;
  /* opacity: 0.4; */
}
.hero-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text-color);
}
.hero-text h1 {
  font-size: 12rem;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 2rem;
  font-weight: 700;
}
.hero-text h2 {
  font-size: 5rem;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 2rem;
  font-weight: 500;
}
.hero-text h3 {
  font-size: 2.5rem;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 2rem;
  line-height: 30px;
  font-weight: 400;
}
@media (max-width: 375px) {
  html {
    font-size: 30%;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 35%;
  }
}
@media (max-width: 1024px) {
  .hero-text h1,
  .hero-text h2,
  .hero-text h3 {
    font-size: 3rem;
    font-family: "Josefin Sans", sans-serif;
    margin-bottom: 2rem;
    font-weight: 700;
  }
}
/* hero section ended */

/* Music 45 million songs. Zero ads. started */
.purple-box {
  background-color: var(--background-color);
  padding-bottom: 50rem;
}
.purple-box > h2 {
  font-size: 8rem;
  text-align: center;
  padding-top: 10rem;
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.purple-box > h3 {
  font-size: 5rem;
  text-align: center;
  padding: 4rem;
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}
.purple-box > p {
  font-size: 2rem;
  text-align: center;
  padding: 3rem;
  font-family: "Roboto", sans-serif;
  padding-bottom: 4rem;
  color: var(--text-color);
  line-height: 30px;
}

.purple-box > div {
  /* display: block; */
  text-align: center;
  margin-bottom: 20px;
}
.purple-box > div > button {
  background-color: var(--red-btn-color);
  padding: 2rem;
  color: white;
  font-size: 2.5rem;
  border: none;
  border-radius: 20px;
  font-family: "Josefin Sans", sans-serif;
}
.purple-box > div > button:hover {
  background-color: black;
  transition: 0.5s;
  font-size: 3rem;
}
.purple-box h4 {
  font-size: 2.5rem;
  text-align: center;
  padding: 2rem;
  font-family: "Josefin Sans", sans-serif;
  color: var(--text-color);
  font-weight: 400;
}

@media (max-width: 1024px) {
  .purple-box > h2 {
    font-size: 8rem;
  }
  .purple-box > h3 {
    font-size: 5rem;
  }
  .purple-box > p {
    font-size: 2rem;
  }
  .purple-box > div > button {
    font-size: 2.5rem;
    padding: 1.5rem;
  }
}
@media (max-width: 1280px) {
  .purple-box > h2 {
    font-size: 7rem;
  }
  .purple-box > h3 {
    font-size: 4.5rem;
  }
  .purple-box > p {
    font-size: 1.8rem;
  }
  .purple-box > div > button {
    font-size: 2.2rem;
    padding: 1.5rem;
  }
}
@media (max-width: 1536px) {
  .purple-box > h2 {
    font-size: 6rem;
  }
  .purple-box > h3 {
    font-size: 4rem;
  }
  .purple-box > p {
    font-size: 1.5rem;
  }
  .purple-box > div > button {
    font-size: 2rem;
    padding: 1.5rem;
  }
}
/* Music 45 million songs. Zero ads. ended */

/* The movie and TV collection started */
.white-box div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.white-box > div > img {
  padding-top: 10rem;
  /* padding-bottom: 8rem; */
  width: 80%;
}
.image-centre {
  position: relative;
  bottom: 40rem;
}
.white-box > h3 {
  font-size: 4rem;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  margin-top: -30rem;
}
.white-box > p {
  font-size: 2rem;
  text-align: center;
  padding: 3rem;
  font-family: "Josefin Sans", sans-serif;
  line-height: 30px;
}

.white-box > div > button {
  background-color: var(--background-color);
  padding: 2rem;
  color: var(--text-color);
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
  border: none;
  border-radius: 20px;
}
/* The movie and TV collection ended */

/* third-last-container started */
.third-last-container {
  background-image: url("https://mytunes-322.web.app/images/video.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.third-last-container > h3 {
  font-size: 4rem;
  text-align: center;
  padding-top: 30rem;
}
.third-last-container > p {
  font-size: 3rem;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 25rem;
  line-height: 35px;
}
@media (max-width: 377px) {
  .third-last-container > h3 {
    font-size: 2rem;
  }
}
@media (max-width: 533px) {
  .third-last-container > h3 {
    font-size: 3rem;
  }
}
@media (max-width: 745px) {
  .third-last-container > h3 {
    font-size: 4rem;
  }
}
@media (max-width: 1035px) {
  .third-last-container > h3 {
    font-size: 4.5rem;
  }
}
/* third-last-container ended */

/* card-container started */
.card-container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 8rem;
  padding-bottom: 5rem;
}
.image-card img {
  width: 100%;
}
.text > h2 {
  font-size: 4rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-align: center;
  padding: 3rem;
}
.text > p {
  font-size: 2rem;
  text-align: center;
  width: 50rem;
  font-family: "Josefin Sans", sans-serif;
  line-height: 20px;
}
.text > h6 {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: center;
  padding: 3rem;
  font-weight: 500;
}
.text > div {
  text-align: center;
}
.text > div > button {
  background-color: var(--background-color);
  padding: 2rem;
  color: var(--text-color);
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
  border: none;
  border-radius: 10px;
}
@media (max-width: 1035px) {
  .card-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
/* card-container ended */
/* main container ended */

/* footer started */

.footer {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 8rem;
}

.footer-links > h4 {
  font-size: 3rem;
  padding-bottom: 2rem;
  font-family: "Josefin Sans", sans-serif;
}

.footer-links ul {
  padding-top: 2rem;
}

.footer-links ul li {
  font-size: 2rem;
  list-style: none;
  line-height: 20px;
  font-family: "Josefin Sans", sans-serif;
}

@media (max-width: 377px) {
  html {
    font-size: 20%;
  }
}
@media (max-width: 533px) {
  html {
    font-size: 25%;
  }
}
@media (max-width: 745px) {
  html {
    font-size: 35%;
  }
  .footer {
    flex-direction: column;
  }
}
@media (max-width: 1035px) {
  html {
    font-size: 50%;
  }
}

/* sub-footer started */
.sub-footer {
  background-color: var(--sub-footer-color);
  padding: 2rem;
}
.sub-footer > p {
  font-size: 2rem;
  color: var(--text-color);
  text-align: center;
  font-family: "Roboto", sans-serif;
}
/* sub-footer ended */
/* footer ended */
